
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.totoContainer{
  width: 100%;
  text-align: center;
  margin: 5% auto;

}
.totoContainer form input{
  width: 150px;
  height: 45px;
  border-radius: 3px;
  font-size: 20px;

}

input[type="checkbox"]{
  width: 25px; 
  height: 25px; 
  cursor: pointer;
}

.totoContainer form input:focus{
  border: none;
  outline: 2px solid rgb(128, 141, 228);
  
}
.todoListWraper{
  margin: 2% auto;
  width: 20%;
}
.mainContainer{
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 15px auto;
  justify-content: space-between;
}

.mainContainer>p{
  width: 80%;
  font-size: 20px; 
  text-align: left;
}
.mainContainer>img{
  width: 20px;
  cursor: pointer;
}




